name: Install and test BWA
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential wget
    - name: Download and install BWA
      run: |
        wget https://github.com/samtools/htslib/releases/download/1.10/htslib-1.10.tar.bz2
        tar jxvf htslib-1.10.tar.bz2
        cd htslib-1.10 && ./configure && make && sudo make install && cd ../
    - name: Verify BWA installation
      run: |
        tabix 

